<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>
        #container1{
            border: 3px solid blue;
        }

    </style>
    <script>
     function display1(data){
            Highcharts.chart('container1', {
                chart: {
                    type: 'scatter',
                    zoomType: 'xy'
                },
                title: {
                    text: '플랫폼별 러닝타임과 IMDb'
                },
                subtitle: {
                    text: '서브타이틀적기'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: 'Runtime(min)'
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        text: 'IMDb(0.0~10.0)'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    backgroundColor: Highcharts.defaultOptions.chart.backgroundColor,
                    borderWidth: 1
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.x} min, {point.y} score'
                        }
                    }
                },
                series: data
            });
    };

    function getdata(ott){
        $.ajax({
            url:'sp',
            data:{ott: ott},
            type:'get',
            datatype:'json',
            success:function(data){
                display1(data)},
            error:function(){
                 alert("Fail : getdata")}
        });
    };

    $(document).ready(function(){
        $('#bt').click(function(){
            ott = $('select[name="ott"]').val();
            getdata(ott);
        });
    });
    </script>
</head>
<body>
<div class="container1">
    <h1 class="h3 mb-2 text-gray-800">Chart</h1>
    <select name="ott">
        <option value="Netflix">Netflix</option>
        <option value="Hulu">Hulu</option>
        <option value="Prime Video">Prime Video</option>
        <option value="Disney+">Disney+</option>
    </select><br>
    <button id="bt">SEARCH</button>
</div>
<div id="container1"></div>
</body>
</html>